.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #8a5a5a;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #8a5a5a;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #8a5a5a;
    position: relative;
    padding-left: 50%;
    text-align: right;
    text-wrap: wrap;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: bold;
  }
}

/* Nested table adjustments */
.nested-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.nested-table th, .nested-table td {
  border: 1px solid #8a5a5a;
  padding: 8px;
  text-align: left;
}

.nested-table th {
  background-color: #e0e0e0;
  color: black;
}

@media screen and (max-width: 768px) {
  .nested-table, .nested-table thead, .nested-table tbody, .nested-table th, .nested-table td, .nested-table tr {
    display: block;
  }

  .nested-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .nested-table tr {
    border: 1px solid #8a5a5a;
    margin-bottom: 10px;
  }

  .nested-table td {
    border: none;
    border-bottom: 1px solid #8a5a5a;
    position: relative;
    padding-left: 50%;
    text-align: right;
    text-wrap: wrap;
  }

  .nested-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: bold;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
